.code {
	span, .line, .line-number {
		overflow: scroll;
		white-space: pre;
		line-height: 16px;
		font-size: 14px;
	}
}

.code .hll { background-color: #ffffcc }
.code .c { color: #888888 } /* Comment */
.code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code .k { color: #008800; font-weight: bold } /* Keyword */
.code .cm { color: #888888 } /* Comment.Multiline */
.code .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.code .c1 { color: #888888 } /* Comment.Single */
.code .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.code .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #aa0000 } /* Generic.Error */
.code .gh { color: #303030 } /* Generic.Heading */
.code .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code .go { color: #888888 } /* Generic.Output */
.code .gp { color: #555555 } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #606060 } /* Generic.Subheading */
.code .gt { color: #aa0000 } /* Generic.Traceback */
.code .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.code .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.code .kp { color: #008800 } /* Keyword.Pseudo */
.code .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.code .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.code .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.code .na { color: #336699 } /* Name.Attribute */
.code .nb { color: #003388 } /* Name.Builtin */
.code .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.code .no { color: #003366; font-weight: bold } /* Name.Constant */
.code .nd { color: #555555 } /* Name.Decorator */
.code .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.code .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.code .nl { color: #336699; font-style: italic } /* Name.Label */
.code .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.code .py { color: #336699; font-weight: bold } /* Name.Property */
.code .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.code .nv { color: #336699 } /* Name.Variable */
.code .ow { color: #008800 } /* Operator.Word */
.code .w { color: #bbbbbb } /* Text.Whitespace */
.code .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.code .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.code .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.code .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.code .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.code .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.code .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.code .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.code .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.code .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.code .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.code .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.code .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.code .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.code .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.code .bp { color: #003388 } /* Name.Builtin.Pseudo */
.code .vc { color: #336699 } /* Name.Variable.Class */
.code .vg { color: #dd7700 } /* Name.Variable.Global */
.code .vi { color: #3333bb } /* Name.Variable.Instance */
.code .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */