---
layout: default
---

<div class="container-narrow blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.excerpt %}
    <article>
      {% include article.html %}
    </article>
    <hr>
  {% endfor %}
  <div class="pagination text-center">
    <ul>
      {% if paginator.next_page %}
        <li><a href="{{paginator.next_page_path}}">&larr; Older</a></li>
      {% endif %}
      <li><a href="/blog/archives">Archive</a></li>
      {% if paginator.previous_page %}
        <li><a href="{{paginator.previous_page_path}}">Newer &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</div>
