<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-narrow">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse collapse">
          {% include custom/navigation.html %}
          {% if site.simple_search %}
            <form action="{{ site.simple_search }}" class="navbar-search pull-right" method="get">
              <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
              <input type="text" name="q" results="0" placeholder="Search" class="search-query">
            </form>
          {% endif %}
      </div>
    </div>
  </div>
</div>