{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{ root_url }}/javascripts/bootstrap.min.js"></script>
<script src="{{ root_url }}/javascripts/octopress.js"></script>