<div class="container-narrow">
  <hr>
  <p class="text-center">
    <small>
      <a href="https://twitter.com/kmwallio" class="twitter">Twitter</a>
      - <a href="https://github.com/kmwallio" class="github">GitHub</a>
      - <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS" class="rss">RSS</a>
      {% if site.subscribe_email %}
        - <a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a>
      {% endif %}<br>
      Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
      <span class="credit">Hosted on <a href="https://gitlab.com/kmwallio/kmwallio.gitlab.io">GitLab</a></span>
    </small>
  </p>
</div>