<ul class="nav">
  <li><a href="{{ root_url }}/about">About</a></li>
  <li class="dropdown">
    <a  data-target="#" href="{{ root_url }}/" class="dropdown-toggle" data-toggle="dropdown">Recent<b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      {% for post in site.posts limit: site.recent_posts %}
        <li class="post">
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/archives">Archive</a></li>
</ul>
