@font-face {
		font-family: 'Mono Social Icons Font';
		src: url('/img/MonoSocialIconsFont-1.10.eot');
		src: url('/img/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
				 url('/img/MonoSocialIconsFont-1.10.woff') format('woff'),
				 url('/img/MonoSocialIconsFont-1.10.ttf') format('truetype'),
				 url('/img/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
		src: url('/img/MonoSocialIconsFont-1.10.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

.symbol {
	font-family: 'Mono Social Icons Font';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 130%;
	margin-right: 0.3em;
	text-decoration: none;
}

a.github::before {
	@extend .symbol;
	content: '\e237';
}

a.twitter::before {
	@extend .symbol;
	content: '\e286';
}

a.rss::before {
	@extend .symbol;
	content: '\e271';
}

.container-narrow {
	margin: 0 auto;
	max-width: 750px;
	> hr {
		margin: 30px 0;
	}
}

body {
	font-size: 20px;
	line-height: 1.4em;
}

#site-header {
	h1 {
		font-size: 3em;
		img {
			height: 3em;
		}
	}
	a {
		color: #000;
		transition: color 0.3s;
		text-decoration: none;
	}

	a:hover {
		color: #777;
		transition: color 0.3s;
		-webkit-transition: color 0.3s;
	}
}

.entry-date {
	display: block;
	width: 140px;
	overflow: hidden;
	text-align: right;
	float: left;
	font-size: .5em;
	color: rgba(0, 0, 0, 0.2);
	margin-left: -150px;
}

.meta {
	font-size: .8em;
}

.nav {
	border-radius: 0px;
}

#teaser-img {
	margin-top: -1em;
	background-color: #373737;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	box-shadow: inset 0 0 15px #373737;
}

.entry-content {
	img {
		@extend .img-polaroid;
		max-width: 100%;
	}

	p {
		padding-left: 1em;
		padding-top: .7em
	}

	ul { list-style-type: disc;
		ul { list-style-type: circle; margin-bottom: 0px;
			ul { list-style-type: square; margin-bottom: 0px; }}}

	ol { list-style-type: decimal;
		ol { list-style-type: lower-alpha; margin-bottom: 0px;
			ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

	ul, ol { &, ul, ol { margin-left: 1.3em; }}

	li {
		line-height: 1.4em;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	display: block;
	clear: both;
	margin: 0 auto 0 auto;
	text-align: center;
}

.clearer {
	clear: both;
}

.larger {
	font-size: 2em;
}

.footnotes {
	font-size: 0.7em;
}

.entry-content table {
	border: 1px #000 solid;
}
