$base03:          #fff !default; // Background
$base02:          #eee !default; // Background line numbers
$base01:          lighten(#7c7e7a, 4) !default; // Line numbers
$base00:          #657b83 !default; //dark gray
$base0:           #839496 !default; //medium gray
$base1:           #7c7e7a !default; // Unhighlighted code, brackets, etc.
$base2:           #eee8d5 !default; // string highlight
$base3:           #eee !default; //white
$solar-yellow:    #895bab !default; // Constants?
$solar-orange:    #dc322f !default; // Control Structures? do, end, if, return
$solar-red:       #00ff00 !default; // 
$solar-magenta:   #d33682 !default;
$solar-violet:    #00ff00 !default;
$solar-blue:      #4d73ba !default; // Function Names? use rewrite
$solar-cyan:      #8dc500 !default; // Strings?
$solar-green:     #895bab !default; // Keywords? lambda require
$selectbg:        #AAA !default;

$solarized: dark !default;

@if $solarized == light {

  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

/* non highlighted code colors */
$pre-bg: $base03 !default;
$pre-border: darken($base02, 5) !default;
$pre-color: $base1 !default;


