---
layout: default
---

{% if page.teaser %}
  <div id="teaser-img" style="background-image: url({{ page.teaser }});"></div>
{% endif %}

<div class="container-narrow">
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if page.date %}<span class="entry-date">{% include post/date.html %}{{ time }}</span>{% endif %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}
  <div class="entry-content">
  {{ content }}
  </div>
  {% unless page.footer == false %}
    <footer>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>