<section>
  <h1>About Me</h1>
  <p>kmwallio was a student at the <a href="https://fit.edu
    ">Florida Institute of Technology</a> majoring in <a href="https://cs.fit.edu">Computer Science</a>.  You can find his projects on <a href="https://github.com/kmwallio">GitHub</a> and <a href="https://bitbucket.org/kmwallio">BitBucket</a>.</p>
</section>
